.CodingContainer {
    // width: auto !important;
    // height: auto !important;
    position: absolute;
    z-index: -1;
    top: 0;
    .treeContainer {
        position: absolute;
        left: 0%;
        // display: none;
        transition: left .3s;
        width: 50%;
        height: 100%;
        overflow: auto;
        color: #fff;
        background-color: rgb(129, 130, 130);
        // z-index: 9;
        &.active {
            left: -50%;
            // display: block;
        }
      
    }
    &.right {
        overflow: hidden;
        &.active {
        z-index: 9;
    }
        .treeContainer {
            left: -50%;
            &.active {
                left: 0;
            }
        }
    }
}
.react-grid-layout {
    background-color: #fff;
}

.sp-drawer {
    header {
        display: none !important;
    }
}

.react-resizable-handle {
    z-index: 999!important;
}

.code_attach {
    position: relative;
    top: -23px;
    left: 33px;
    display: flex;
    align-items: center;
}
.folderButton {
    padding: 0 !important;

    .sp-icon {
        font-size: 22px;
    }
}