.layout {
    .react-grid-item {
        // background-color: rgb(138, 132, 132);
    }
}

.wh100 {
    width: 100%;
    height: 100%;
    >div {
        width: 100%;
        height: 100%;
        >div {
            width: 100%;
            height: 100%;
        }   
    }
}