.layout {
    // height: 100% !important;
    left: 22px;
    .react-grid-item {
    // height: 100% !important;
        // background-color: rgb(138, 132, 132);
    }
}

.closePanel {
    cursor: pointer;
    &:hover {
        color: #d70000;
    }
}


.item_layout_top {
    background-color: #e7e7e7;
    padding: 0 10px;
}
.wh100 {
    width: 100%;
    height: 100%;
    >div {
        width: 100%;
        height: 100%;
        position: relative;
        background-color: #fff;
        >div {
            width: 100%;
            height: 100%;
        }   
    }
}